html,
body,
#root,
#root>div {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes myBottom {
  0% {
    position: absolute;
    top: 100%;
  }

  100% {
    position: absolute;
    top: 100px;
  }
}

@-webkit-keyframes myBottom {
  0% {
    position: absolute;
    top: 100%;
  }

  100% {
    position: absolute;
    top: 100px;
  }

}

@-moz-keyframes myBottom {
  0% {
    position: absolute;
    top: 100%;
  }

  100% {
    position: absolute;
    top: 100px;
  }

}

@-ms-keyframes myBottom {
  0% {
    position: absolute;
    top: 100%;
  }

  100% {
    position: absolute;
    top: 100px;
  }

}

@-o-keyframes myBottom {
  0% {
    opacity: 0;
    -o-transform: translate(-40px, 10px);
  }

  100% {
    opacity: 0;
    -o-transform: translate(0px, 0px);
  }

}


.bottomAni {
  padding: 10px;
  animation: myBottom 5s;
}